body {
  text-align: center;
  background-color: #283149;
  background-image: url(images/1\ \(2\).jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 5rem;
  color: #eba404;
  font-family: 'Poppins', sans-serif;
  text-shadow: 3px 0 white;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url(images/tom1.png);
}

.a {
  background-image: url(images/tom2.png);
}

.s {
  background-image: url(images/tom4.png);
}

.d {
  background-image: url(images/tom3.png);
}

.j {
  background-image: url(images/snare.png);
}

.k {
  background-image: url(images/crash.png);
}

.l {
  background-image: url(images/kick.png);
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 5px solid #eba404;
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
  line-height: 2;
  font-weight: 900;
  color: #eba404;
  text-shadow: 3px 0 white;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
